body {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 10px;
  background-color: rgb(224, 193, 193);
}
header {
  display: flex;
  background-color: cornflowerblue;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 10%;
  box-shadow: 5px 5px rgb(149, 177, 238);
}
img {
  box-sizing: border-box;
  width: 200px;
  border-radius: 50%;
  margin: 10px;
}
.Name {
  padding: 10px;
  width: 40%;
  text-align: center;
  text-transform: uppercase;
}
.main-info {
  min-width: 35%;
  display: flex;
  justify-content: start;
  margin-bottom: 5px;
  flex-direction: column;
  font-size: 22px;
}
aside {
  width: 30%;
  display: flex;
  flex-direction: column;
  background-color: crimson;
  padding: 5px;
  border-radius: 10%;
  box-shadow: 5px 5px rgb(223, 149, 149);
}
.skills {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 33.3%;
  margin-right: 2px;
  padding: 5px;
}

progress {
  background-color: grey;
  width: 100%;
  height: 25px;
  border-radius: 10%;
}
::-webkit-progress-bar {
  background-color: grey;
  border-radius: 10%;
}
::-webkit-progress-value {
  background-color: rgb(59, 61, 182);
}

.hobbies {
  height: 33.3%;
  padding: 5px;
}
ul {
  line-height: 1.5rem;
}
.other-info {
  height: 33.3%;
  padding: 5px;
  text-align: left;
}
dl {
  line-height: 1.5rem;
}
dd {
  margin-inline-start: 0px;
}

main {
  width: 70%;
  padding: 10px;
  background-color: silver;
  border-radius: 10%;
  box-shadow: 5px 5px rgb(224, 221, 221);
}
.container {
  display: flex;
  flex-direction: row;
}

footer {
  position: relative;
  bottom: 0px;
  text-align: center;
  padding: 5px;
}
header ul {
  list-style: none;
}
h2 {
  text-transform: uppercase;
}
